* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: rgb(245, 248, 249);
}

.intestazione {
    color: black;
    height: 80px;
    background-color: white;
}

.titolo {
    display: inline;
    font-size: 40px;
    vertical-align: baseline;
    
    

}

#logo {
    
    padding-left: 30px;
    padding-top: 10px;
    
}

.sfondo {
    padding: 50px 200px 20px 200px;

}

.box1 {

    background-color: white;
    height: 50px;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.box2 {

    background-color: white;
    height: 550px;
    padding: 50px;
}

.button1 { 
    height: 30px;
    width: 80px;
    background-color: rgb(70, 173, 241);
    font-size: 15px;
    color: white;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    
    
}

.button2 { 
    height: 30px;
    width: 80px;
    background-color: white;
    font-size: 15px;
    color: lightgray;
    display: inline-block;
    margin-left: 20px;
    border-color: lightgrayx;
    border: solid 1px;
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
}

.buttons {
    padding-left: 50px;
    padding-top: 10px;
}